$purple: #6E6085;
$purpleLight: lighten($purple, 20%);
$purpleDark: darken($purple, 20%);

$magenta: #E07F91;

$green: #00C9A5;

$btnColor: $green;
$btnHover: darken($green, 15%);
$btnText:#C5FCEF;

$background: linear-gradient(to left bottom, #ffffff, lighten($purple, 40%));
$headerBG: linear-gradient(to left, $purple, $magenta);

$maxWidth: 100%;
$headerWidth: 95%;

@mixin button-base {
	color: white;
	border: 0.2rem solid $purpleDark;
	border-radius: 1rem;
	padding: 0.75rem 0.75rem;
	font-size: 1.6rem;
	font-weight: 500;
	font-family: inherit;
	background-color: $purpleDark;
	box-shadow: 0 0 0.75rem $purpleDark;
	cursor: pointer;
	transition: all 0.25s;
}

@mixin input-base{
	background-color: $purpleDark;
	padding: 0.75rem;
	border: 0.2rem solid transparent;
	border-bottom: 0.2rem solid #ffffff50;
	border-radius: 0.5rem;
	transition: all 0.25s;
}

@mixin alert-base{
	border-radius: 1rem;
	align-self: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: #ffffff;
	box-shadow: 0 0 0.75rem #00000075;
	transition: all 0.25s;
}

@mixin alert-hidden{
	margin: 0 0;
	padding: 0;
	opacity: 0;
}

@mixin alert-visible{
	margin: 1rem 0;
	padding: 1rem;
	opacity: 1;
}

@mixin a-base{
	color: white;
	font-weight: 600;
	border-radius: 1rem;
	padding: 0.5rem;
	border: 0.02rem solid transparent;
	transition: all 0.25s;
}

@mixin a-hover{
	border-color: $magenta;
}