$purple: #6E6085;
$purpleLight: lighten($purple, 20%);
$purpleDark: darken($purple, 20%);

$magenta: #E07F91;

$pastelPurple: #A293BA;
$pastelPurpleDark: darken($pastelPurple, 20%);

$green: #00C9A5;
$mintGreen: #a0ffee;

$btnBG: linear-gradient(to right top, $green, darken($green, 2.5%), darken($green, 5%), darken($green, 10%), darken($green, 15%));
$btnBGHover: linear-gradient(to right bottom, darken($green, 15%), darken($green, 10%), darken($green, 5%), darken($green, 2.5%), $green);

$btnColor: $green;
$btnHover: darken($green, 15%);
$btnText:#C5FCEF;

$background: linear-gradient(to left bottom, #ffffff, lighten($purple, 40%));
$headerBG: linear-gradient(to left, $purple, $magenta);

$maxWidth: 100%;
$headerWidth: 95%;

@mixin stdButton {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1.6em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: all 0.25s;

	:hover {
		border-color: #646cff;
	}

	:focus,
	:focus-visible {
		outline: 0.2rem auto #646cff;
	}
}